@model List<Supplements.Models.ModelDomain>
    <h1 class="text-muted center-block">Relatório de produtos</h1>
     <table class="table table-hover">
         <thead>
             <tr>
                 <th>SKU</th>
                 <th>Produto</th>
                 <th>Quantidade em estoque</th>
             </tr>
         </thead>
         <tbody>
             @foreach(Supplements.Models.Product product in Model)
             {
                 <tr>
                     <td>@product.SKU</td>
                     <td>@Html.ActionLink(@product.Name, "Vizualize", new { id = product.Id })</td>
                     <td>@product.QuantityStock</td>
                 </tr>                
             }
         </tbody>
     </table>
<button type="button" class="btn" onclick="RedirectToForm()">Cadastrar</button>

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    function RedirectToForm() {
            console.log("Redirect");
            var url = "@Url.Action("Form", "Product")";
            window.location.href = url;
    };
</script>

