@model List<Supplements.Models.ModelDomain>

<h1 class="text-muted">Dados detalhados</h1>
<div>
@foreach(Supplements.Models.Product product in Model)
{ 
    <form action="/product/Update" method="post">
        
        <label for="Id">Id: </label>
        <input id="Id" name="product.id" class="form-control" value="@product.Id" />

        <label for="Name">Título: </label>
        <input id="Name" name="product.Name" class="form-control" value="@product.Name" />

        <label for="sku">SKU: </label>
        <input id="SKU" name="product.SKU" class="form-control" value="@product.SKU" />

        <label for="EAN">EAN: </label>
        <input id="EAN" name="product.EAN" class="form-control" value="@product.EAN" />

        <label for="QuantityStock">Quantidade em estoque: </label>
        <input id="QuantityStock" name="product.QuantityStock" class="form-control" value="@product.QuantityStock" />

        <label for="OldPrice">Preço antigo: </label>
        <input id="OldPrice" name="product.OldPrice" class="form-control" value="@product.OldPrice" />

        <label for="Price">Preço: </label>
        <input id="Price" name="product.Price" class="form-control" value="@product.Price" />
        <br />
        <input type="submit" value="Atualizar" class="btn form-group" />
        <button type="button" class="btn form-group" onclick="DeleteProduct(@product.Id)">Excluir</button>
    </form>

}
</div>

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    function DeleteProduct(id) {
        var url = "@Url.Action("Delete", "Product")";
        var params = { id: id };
        $.post(url, params, function () {
            console.log("Redirect");
            var url = "@Url.Action("Index", "Product")";
            window.location.href = url;
            alert("Produto excluído com sucesso !");
        });
    };
</script>
